

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: inter;                     
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
// phone
.pc-nav{
    display: none;
}

.mobile-nav{display: flex;
    justify-content: space-between;
    align-items: center;
    .hamburger-menu{
        height: 4rem;
        width: 4rem;
        background-color: white;
        display: flex;
        flex-direction: column;
        border: 2px solid green;
        align-items: center;
        justify-content: center;
        gap: 5px;
        .line{
            width: 70%;
            height: 5px;
            background-color: green;
        }
    }
}
.benefits{
    .container{
        padding: 50px;
    }
    .nashe{
        text-align: center;
    }
    center-items{
        text-align: center;
    }
    .card{
        padding: 20px;
        background-color: grey;
    .mari{
        text-align: center;
    }
    ol{
        list-style-type: decimal;
        padding-left: 1rem6;
    }
}
}
.first-sec{
    padding: 50px;
    background-color: rgba(0, 0, 255, 0.096) ;
    h1{
        width: 70%;
    }
    .nashy{
        display: flex;
        flex-direction: column;
        gap: 70px;
        h1{
            font-weight: 900;
        }
        button{
            background-color: green;
            color: white;
            height: 3rem;
            font-weight: 400;
            border: none;
            border-radius: 5px;
        }
    }
    .row{
        .mari{
            width: 100%;
            padding: 30px;
        }
        .zero{
            display: flex;
            object-fit: cover;
        }
    }
}
.sec-section{background-color: rgba(0, 0, 255, 0.096) ;
    .container{
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 40px;
        .card1{
            // padding: 20px;
            height: 90vh;
            background-color: transparent;
            border: none;
            a{
                text-decoration: none;
                color: green;
            }
        }
    }
}
.opacity{
    background-image: url("../images/colleagues-working-together-environment-project\ \(1\)\ 1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    .overlay{
        padding: 15px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: rgba(0, 0, 0, 0.533);
    }
    .exq{
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        p{
            width: 350px;
        }
    }
}
.question{padding: 40px;
    p{
        width: 400px;
    }
    .hey{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    form{
        border: 1px solid #ddd;
        padding: 2rem;
        border-radius: 5px;
        background-color: grey;
    }
    input[type="text"],
    input[type="email"]{
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        display: flex;
    }
    textarea{
        width: 100%;
        padding: 11px;
        border: 1px solid #ccccccd7;
        border-radius: 3px;
    }
    button{
        width: 100%;
        height: 3rem;
        border: none;
        border-radius: 5px;
        background-color: #fff;
    }
}
.footer{
    background-color: rgba(128, 128, 128, 0.879);
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px;
        gap: 15px;
        input[type="email"]{
            width: 70%;
            padding: 8px;
            background-color: #ffffffe9;
            border: none;
            border-radius: 5px;
    }
    button{
        width: 7rem;
        height: 3rem;
        background-color: green;
        color: white;
        font-weight: 500;
        border: none;
        border-radius: 5px;
    }
}
}
.green{
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}







/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/

/* 
Extra small devices (portrait phones, less than 576px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 568px) {  

}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) { 
    .pc-nav{
        display: block;
    }
.mobile-nav{
display: none;     
}
.pc-nav{
    .flex-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    ul{display: flex;
        gap: 30px;
        color: green;
        font-weight: 700;
        align-items: center;
        button{
            background-color: green;
            color: white;
            height: 40px;
            width: 120px;
            border: none;
            border-radius: 5px;
        }

}
}
}
.benefits{
    .center-items{
        text-align: left;
    }
}
 }
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .pc-nav{
        .flex-container{
            ul{
                gap: 100px;
            }
        }
    }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    
}



/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/

/* Set width to make card deck cards 100% width */
@media (max-width: 950px) { 

}